{% extends 'generic.html' %}
{%block title%}
Deals connect login page
{%endblock%}
{% block contents%}
    <div class = "container">
	<div class="wrapper">
		<form action="{% url 'View:login_uri' %}" method="post"  
		class="form-signin"> 
		{% csrf_token %}      
		    <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
			  <hr class="colorgraph"><br>
			  
			  <input type="text" class="form-control" name="username" placeholder="Username" required value="{{username}}" />
			  <input type="password" class="form-control" name="pass" placeholder="Password" required/>     		  
			 
			  <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Login</button>  			
		</form>			
	</div>
</div>
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'css/main.css'%}" >

{% endblock contents%}