{% extends "user-head.html" %}
{% block title %}
{{profile.slug}}
{% endblock title %}
{% block content%}
<style type="text/css">
.test-2 .input-controls-container {
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    padding: 0;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.test-2 .input-controls-container .form-control {
    border: 0;
    height: 32px;
}
.test-2 .input-controls-container.expand .form-control {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: auto;
}
.test-2 .input-controls-container .input-controls {
    display: none;
    text-align: right;
    padding: 0;
    border-top: 1px solid #dfdfdf;
}
.test-2 .input-controls-container.expand .input-controls {
    display: block;
}
.test-2 .input-controls-container .input-controls .btn-link {
    padding: 2px 10px 0;
    color: #555;
    text-decoration: none;
}
.test-2 .input-controls-container .input-controls .btn-link:hover {
    color: #111;
}


</style>
<div class="container" style="margin-top:40px;">
<h4> Create Deal</h4>
<form class="form" action="{% url 'View:create_deal' %}" method="post" id="registrationForm">
                  {% csrf_token %}
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="title"><h4>Title</h4></label>
                              <input type="text" class="form-control" name="title" id="title" placeholder="Deal Title"
                               title="enter your first name if any." required>
                          </div>
                     </div>
                     
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Cleanser Email</h4></label>
                              <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" 
                              title="enter your email." required>
                          </div>
                      </div>
                      
                      <div class="form-group">
                                                <div class="col-xs-6">

                      <ol>
                      <label for="title"><h4>Framework</h4></label>

                <li>       <input type="text" class="form-control" name="framework[]" id="framework" 
                placeholder="Enter deal Framework" title="enter your first name if any."></li>
                      </ol>
                     
     <button class="btn btn-success" id="add"><i class="far fa-plus-square" style="color:white;"></i>Add more..</button>
<button class="btn btn-danger" id="remove"><i class="far fa-trash-alt"></i>Remove</button>
                      </div>
                      </div>
                    	<div class="test-2">
                             <label for="mobile"><h4>About Deal</h4></label>
    		    <div class="input-controls-container">
        		    <textarea class="form-control" name="about" placeholder="About Deal" max=100 required></textarea>
        		    <div class="input-controls" >
            	        <div class="btn-group">
            		        <button class="btn btn-link">
            		            <span class="glyphicon glyphicon-paperclip"></span>
            		        </button>
            		        <button class="btn btn-link">
            		            <span class="glyphicon glyphicon-ok"></span>
            		        </button>
        		        </div>
    		    </div>
    		</div>	
          
          </div>
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success pull-right" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                               	<!--<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>-->
                            </div>
                      </div>
                      
                      
              	</form>

<script type="text/javascript">
$(function(){
   $('body')
   .on('focus','.input-controls-container textarea',function(){
      $(this).closest('.input-controls-container').addClass('expand');
   })
   .on('blur','.input-controls-container textarea',function(){
       if ($.trim($(this).val())) {
           return;
       }
      $(this).closest('.input-controls-container').removeClass('expand');
   });
});
</script>
<script type="text/javascript">
$(document).ready(function(){
    $('#add').click(function(e){
        $('ol').append(` <li id="added-framwork">       <input type="text" class="form-control" name="framework[]" 
                placeholder="Enter deal Framework" title="enter your first name if any."></li>`);
                  e.preventDefault();

    });
     $('#remove').click(function(e){
        $('#added-framwork').remove();
                  e.preventDefault();

    });
})
</script>
</div>
        
{% endblock %}